# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lockfile
package-lock.json

# SCSS Cache
.sass-cache/

# Operating system and text editors
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs and error files
logs/
*.log

# Build or transient directories (optional)
dist/
build/

# Enviroment variables
.env.local

# Next.js
.next/
out/

# Source Maps
*.map
public/css/*.map
