$hover-color: #71b8f794;
$navbar-text: #ffffff;
$navbar-bg: #e3f4fd7e;
$text-color: #ffffff;
$background-color: #000;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;


$width-mobile: 480px;
$width-tablet: 769px;
$width-desktop: 1440px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    @include flex-center;
    flex-direction: column;
}

.about {
    height: 100vh;
    width: 100vw;
    background-color: $background-color;
    @include flex-center;

    .about-content{
        @include flex-column;
        gap: 2rem;

        .about-image{
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
        }
        .about-text{
            @include flex-column;
            text-align: center;
            line-height: 1.5;
            font-family: $font-secondary;
            font-size: 1.5rem;
            color: $text-color;
        }
    }
}