@use 'variables';

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: variables.$navbar-bg;

    .header-title{
        font-family: variables.$font-primary;
        font-size: 24px;
        color: variables.$navbar-text;
    }
    .header-nav{
        .header-nav-list{
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 20px;

            .header-nav-item{
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 10px 15px;
                border-radius: 10px;

                &:hover{
                    background-color: variables.$hover-color;
                }
                
                a{
                    font-family: variables.$font-secondary;
                    font-size: 16px;
                    text-decoration: none;
                    color: variables.$navbar-text;
                }
            }
        }
    }
}
.header.scrolled {
    background-color: variables.$navbar-bg-scrolled;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
}