@use 'navbar';
@use 'about';
@use 'skills';
@use 'projects';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

    main{
        section{
            border-top: 1px solid black;
        }
    }
}
