@use 'variables';
@use 'mixins';

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.principal-title {
    font-family: variables.$font-secondary;
    @include mixins.responsive-text(1.5rem, 1.8rem, 2rem, 2.2vw);
}

.principal-text{
    font-family: variables.$font-primary;
    @include mixins.responsive-text(1.2rem, 1.4rem, 1.6rem, 1.8vw);
}

.section-title{
    font-family: variables.$font-secondary;
    @include mixins.responsive-text(1.3rem, 1.5rem, 1.6rem, 1.5vw);
}

.section-subtitle{
    font-family: variables.$font-secondary;
    @include mixins.responsive-text(1.2rem, 1.4rem, 1.5rem, 1.4vw);
}

.section-subsubtitle{
    font-family: variables.$font-secondary;
    @include mixins.responsive-text(1.1rem, 1.2rem, 1.3rem, 1.2vw);
}

.section-text {
    font-family: variables.$font-primary;
    @include mixins.responsive-text(1rem, 1.1rem, 1.4rem, 1.3vw);
}

.section-subtext {
    font-family: variables.$font-primary;
    @include mixins.responsive-text(1rem, 1.2rem, 1.3rem, 1.2vw);
}

.section-subsubtext {
    font-family: variables.$font-primary;
    @include mixins.responsive-text(0.9rem, 1rem, 1.1rem, 1.1vw);
}

.section-button{
    font-family: variables.$font-secondary;
    @include mixins.responsive-padding(0.4rem 0.9rem, 0.5rem 1rem, 0.6rem 1.1rem, 0.7rem 1.2rem);
    @include mixins.responsive-text(1rem, 1rem, 1.2rem, 1.1vw);
}

.footer-text {
    font-family: variables.$font-primary;
    @include mixins.responsive-text(0.9rem, 1rem, 1.3rem, 1.2vw);
}

.principal-title, .section-subtitle, .section-subsubtitle, .section-text, .section-subtext, .footer-text {
    margin-bottom: 1rem;
}

.project-title{
    font-family: variables.$font-secondary;
    @include mixins.responsive-text(1rem, 1.1rem, 1.2rem, 1.2vw);
}

.project-text, .tech-text{
    font-family: variables.$font-primary;
    @include mixins.responsive-text(0.8rem, 0.9rem, 1rem, 1vw);
}

.project-links, .mini-tech-text{
    font-family: variables.$font-primary;
    @include mixins.responsive-text(0.7rem, 0.8rem, 0.9rem, 0.9vw);
}