@use 'variables';
@use 'mixins';
@use 'base';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 83vh;
}

footer{
    min-height: 10vh;
}

.navbar {
    min-height: 7vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$navbar-bg;
    color: variables.$navbar-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: variables.$font-primary;

    .navbar-brand {
        a {
            text-decoration: none;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0;
            color: variables.$navbar-highlight;
            font-family: variables.$font-secondary;
        }
    }

    .navbar-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        right: 1rem;

        .hamburger-icon {

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: variables.$navbar-text;
                transition: all 0.3s ease;
            }

            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }
        }
    }

    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 1rem;

            a {
                text-decoration: none;
                color: variables.$navbar-text;
                font-size: 1rem;
                transition: color 0.3s;

                &:hover {
                    color: variables.$navbar-hover;
                }
            }
        }
    }
}

#presentation {
    position: relative;
    height: 93vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;

    .presentation-container {
        width: 80%;
        padding: 0 1rem;
        z-index: 1;
    }

    .presentation-description {
        line-height: 1.4;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
    }
}

#about,
#projects,
#contact {
    @include mixins.flex-center;
    width: 80vw;
    height: 100vh;
    max-height: 1200px;

    .section-content {
        width: 50%;

        .section-link {
            @include mixins.button(#000, #fff, #000);
        }
    }

    .section-image {
        @include mixins.flex-center;
        width: 45%;
        height: 100vh;

        img {
            height: 75%;
            width: 75%;
            object-fit: contain;
        }
    }
}

.section {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    justify-content: space-between;
    width: 80vw;
}

#skills {
    text-align: center;

    .tech-list {
        @include mixins.flex-center;
        flex-wrap: wrap;
        gap: 1rem;

        .tech-item {
            background-color: #b0dbff;
            border-radius: 5px;
            padding: 5px 10px;

            a {
                @include mixins.flex-center;
                text-decoration: none;
                gap: 10px;

                img {
                    height: 28px;
                    width: 28px;
                }

                p {
                    color: black;
                    font-weight: bold;
                }
            }

            &:hover {
                background-color: variables.$hover-color;
            }
        }
    }
}

.social-links {
    display: flex;
    width: 180px;
    justify-content: space-around;

    .social-icon {
        @include mixins.flex-center;
        background-color: black;
        border: 1px solid white;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        a {
            @include mixins.flex-center;

            img {
                height: 50%;
                width: 50%;
                object-fit: contain;
            }
        }

        &:hover {
            background-color: variables.$hover-color;
        }
    }
}

footer {
    background-color: #121212;
    @include mixins.flex-center;
    flex-direction: column;
    padding: 0.7rem;

    p {
        color: white;
    }
}

#education-experience {
    padding: 1rem 0;
    @include mixins.flex-center;
    flex-direction: column;
    width: 80vw;
    flex-wrap: wrap;
    gap: 1rem;

    .education-experience-container {
        @include mixins.flex-center;
        justify-content: right;
        gap: 5rem;
        width: 100%;
    }
}

#work-experience {
    width: 45%;
}

#education {
    max-width: 45%;
}

.education-items,
.work-experience-items {
    border-left: 2px solid #47acff;
    padding-left: 1rem;
}

.education-item,
.work-experience-item {
    position: relative;

    .point {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        left: -25px;
    }
}

#projects-personal {
    padding: 1rem 0;
    @include mixins.flex-center;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;

    .container-projects {
        text-align: center;
        width: 100%;
        @include mixins.flex-center;
        flex-wrap: wrap;
        gap: 2rem;
        
        ul {
            text-align: left;
        }

        .project {
            width: 100%;
            max-width: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f0f8ff;
            border-radius: 10px;
            border: 2px solid black;
            gap: 0.5rem;

            .project-image {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 7px 7px 0 0;
            }

            .project-technologies {
                @include mixins.flex-center;
                flex-wrap: wrap;
                padding: 0.5rem;
                gap: 0.5rem;
                border-radius: 5px;
                background-color: #e6f2ff;
                width: 90%;

                .mini-tech {
                    background-color: #cce5ff;
                    border-radius: 4px;
                    padding: 3px 4px;

                    a {
                        @include mixins.flex-center;
                        text-decoration: none;
                        gap: 5px;

                        img {
                            height: 25px;
                            width: 25px;
                        }

                        p {
                            color: black;
                            font-weight: bold;
                        }
                    }

                    &:hover {
                        background-color: #99ccff;
                    }
                }
            }

            .project-links {
                width: 90%;
                display: flex;
                align-items: center;
                padding: 0.5rem 0;
                justify-content: space-between;

                a {
                    color: black;
                    font-weight: bold;
                    width: 45%;
                    text-decoration: none;
                    background-color: #99ccff;
                    padding: 0.5rem 0.5rem;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #47acff;
                    }
                }
            }
        }
    }
}

@media (max-width: variables.$width-desktop) {

    #about,
    #projects,
    #contact {
        width: 80vw;
        height: 90vh;
        justify-content: space-around;

        .section-image {
            height: 80vh;

            img {
                height: 85%;
                width: 85%;
            }
        }
    }

    .social-links {
        width: 175px;

        .social-icon {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}

@media (max-width: variables.$width-tablet) {
    .navbar {
        .navbar-links {
            display: none;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: variables.$navbar-bg;
            padding: 1rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .navbar-links.open {
            display: flex;
        }

        .navbar-toggle {
            display: flex;
        }

        .navbar-brand h1 {
            font-size: 1.2rem;
        }
    }

    #about,
    #projects,
    #contact {
        width: 90vw;
        height: 70vh;

        .section-image {
            height: 70vh;

            img {
                height: 85%;
                width: 85%;
            }
        }
    }

    .social-links {
        width: 150px;

        .social-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    #education-experience {
        .container {
            width: 80vw;
            gap: 1rem;
            flex-direction: column;

            #education,
            #work-experience {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: variables.$width-mobile) {
    html {
        scroll-padding-top: 110px;
    }

    #about,
    #projects,
    #contact {
        flex-direction: column;
        width: 90vw;
        height: 70vh;
        justify-content: space-around;

        .section-content {
            height: auto;
            width: 100%;
        }

        .section-image {
            min-height: 30vw;
            width: 100%;
        }
    }

    .social-links {
        width: 140px;

        .social-icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }
}
