@use 'variables';
@use 'mixins';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$navbar-bg;
    color: variables.$navbar-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: variables.$font-primary;

    .navbar-brand h1 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: bold;
        color: variables.$navbar-highlight;
        font-family: variables.$font-secondary;
    }

    .navbar-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        position: relative;
        right: 1rem;

        .hamburger-icon {

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: variables.$navbar-text;
                transition: all 0.3s ease;
            }

            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }
        }
    }

    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 1rem;

            a {
                text-decoration: none;
                color: variables.$navbar-text;
                font-size: 1rem;
                transition: color 0.3s;

                &:hover {
                    color: variables.$navbar-hover;
                }
            }
        }
    }
}

#presentation {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;

    .wrapper {
        padding: 0 1rem;
        z-index: 1;
    }

    .subtitle {
        font-family: variables.$font-secondary;
        margin-bottom: 0.5rem;
    }

    p {
        font-family: variables.$font-primary;
        line-height: 1.4;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
    }
}

#about,
#projects,
#contact {
    height: 100vh;
    @include mixins.flex-center;

    .left {
        .subtitle {
            font-family: variables.$font-secondary;
        }

        p {
            font-family: variables.$font-secondary;
        }

        a {
            display: inline-block;
            font-family: variables.$font-secondary;
            text-decoration: none;
            color: #000;
            border: 2px solid #000;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: #000;
                color: #fff;
                box-shadow: 0 0 15px #000;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
                transition: left 0.3s ease-in-out;
            }

            &:hover::before {
                left: 0;
            }
        }
    }

    .right {
        width: 40%;
        @include mixins.flex-center;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

@media (min-width: 1440px) {

    #about,
    #projects,
    #contact {
        width: 900px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    #about,
    #projects,
    #contact {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    #presentation {
        .wrapper {
            width: 60%;
        }

        .subtitle {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.7rem;
        }
    }

    #about,
    #projects,
    #contact {
        justify-content: space-between;

        .left {
            width: 50%;

            .subtitle,
            p {
                margin-bottom: 1rem;
            }

            .subtitle {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
            }

            a {
                padding: 0.8rem 1.5rem;
                font-size: 1.2rem;
                text-decoration: none;
                color: #000;
                border: 2px solid #000;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: #000;
                    color: #fff;
                    box-shadow: 0 0 15px #000;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.2);
                    transition: left 0.3s ease-in-out;
                }

                &:hover::before {
                    left: 0;
                }
            }
        }

        .right {
            width: 40%;
        }
    }
}

@media (max-width: 1023px) {

    .navbar-toggle {
        display: none;
    }

    .navbar-links {
        display: flex;
    }

    #presentation {
        .wrapper {
            width: 80%;
        }

        .subtitle {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        .navbar-links {
            display: none;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: variables.$navbar-bg;
            padding: 1rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .navbar-links.open {
            display: flex;
        }

        .navbar-toggle {
            display: flex;
        }

        .navbar-brand h1 {
            font-size: 1.2rem;
        }
    }

    #presentation {
        .subtitle {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 375px) {

    html{
        scroll-padding-top: 110px;
    }

    #presentation {
        .subtitle {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    #about,
    #projects,
    #contact {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        height: 70vh;

        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 1rem 0;

        .left {
            width: 100%;

            .subtitle {
                font-size: 1.3rem;
            }

            p {
                font-size: 1rem;
            }

            .subtitle,
            p {
                margin-bottom: 0.7rem;
            }

            a {
                padding: 0.5rem 1rem;
                font-size: 1rem;
            }
        }

        .right {
            img {
                width: 50vw;
            }
        }
    }
}