@use 'variables';
@use 'mixins';
@use 'base';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$navbar-bg;
    color: variables.$navbar-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: variables.$font-primary;
    .navbar-brand {
        a {text-decoration: none;}
        h1 {
        font-size: 1.5rem;
        margin: 0;
        color: variables.$navbar-highlight;
        font-family: variables.$font-secondary;
        }
    }
    .navbar-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        right: 1rem;
        .hamburger-icon {
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: variables.$navbar-text;
                transition: all 0.3s ease;
            }
            &::before {
                top: -6px;
            }
            &::after {
                top: 6px;
            }
        }
    }
    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-left: 1rem;
            a {
                text-decoration: none;
                color: variables.$navbar-text;
                font-size: 1rem;
                transition: color 0.3s;
                &:hover {
                    color: variables.$navbar-hover;
                }
            }
        }
    }
}

#presentation {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;
    .wrapper {
        width: 80%;
        padding: 0 1rem;
        z-index: 1;
    }
    .principal-text {
        line-height: 1.4;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
    }
}

#about,
#projects,
#contact {
    @include mixins.flex-center;
    width: 80vw;
    height: 100vh;
    max-height: 1200px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    justify-content: space-between;
    .left {
        width: 50%;
        .section-button {
            @include mixins.button(#000, #fff, #000);
        }
    }
    .right {
        @include mixins.flex-center;
        width: 45%;
        height: 100vh;
        img {
            height: 75%;
            width: 75%;
            object-fit: contain;
        }
    }
}

footer{
    background-color: #121212;
    @include mixins.flex-center;
    flex-direction: column;
    padding: 0.7rem;
    p{
        color: white;
    }
    .icons{
        display: flex;
        width: 180px;
        justify-content: space-around;
        .social-icon{
            @include mixins.flex-center;
            background-color: black;
            border: 1px solid white;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            a{
                @include mixins.flex-center;
                img {
                    height: 50%;
                    width: 50%;
                    object-fit: contain;
                }
            }
        }
        .social-icon:hover{
            background-color: variables.$hover-color;
        }
    }
}

@media (max-width: variables.$width-desktop) {
    #about,
    #projects,
    #contact {
        width: 80%;
        height: 90vh;
        justify-content: space-around;
        .right {
            height: 80vh;
            img {
                height: 85%;
                width: 85%;
            }
        }
    }
    footer{
        .icons{
            width: 175px;
            .social-icon{
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    }
}

@media (max-width: variables.$width-tablet) {
    .navbar {
        .navbar-links {
            display: none;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: variables.$navbar-bg;
            padding: 1rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .navbar-links.open {
            display: flex;
        }

        .navbar-toggle {
            display: flex;
        }

        .navbar-brand h1 {
            font-size: 1.2rem;
        }
    }
    #about,
    #projects,
    #contact {
        width: 90%;
        height: 70vh;
        .right {
            height: 70vh;
            img {
                height: 85%;
                width: 85%;
            }
        }
    }
    footer{
        .icons{
            width: 150px;
            .social-icon{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

}

@media (max-width: variables.$width-mobile) {
    html {
        scroll-padding-top: 110px;
    }
    #about,
    #projects,
    #contact {
        flex-direction: column;
        gap: 1rem;
        width: 90vw;
        height: 70vh;
        justify-content: space-around;
        .left {
            height: 40vh;
            width: 100%;
        }
        .right {
            min-height: 30vw;
            width: 100%;
        }
    }
    footer{
        .icons{
            width: 140px;
            .social-icon{
                width: 2.3rem;
                height: 2.3rem;
            }
        }
    }
}