$hover-color: #47acff;

$navbar-bg: #121212;
$navbar-text: #ffffff;
$navbar-hover: $hover-color;
$navbar-highlight: $hover-color;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$width-mobile: 480px;
$width-tablet: 769px;
$width-desktop: 1440px;
