$background: linear-gradient(45deg, #121212, #333);

$navbar-bg: #121212;
$navbar-text: #ffffff;
$navbar-hover: #1e90ff;
$navbar-highlight: #ff6f61;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;