@use 'variables';

.about {
    height: 100vh;
    width: 100%;
    @include variables.flex-center;

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$background-color;
        z-index: -1;
    }

    .about-content{
        @include variables.flex-column;
        gap: 2rem;

        .about-image{
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
        }
        .about-text{
            @include variables.flex-column;
            text-align: center;
            line-height: 1.5;
            font-family: variables.$font-secondary;
            font-size: 1.5rem;
            color: variables.$white-text;
        }
    }
}