@use 'variables';

.favorite-courses {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    >h2 {
        flex: 1 1 100%;
    }

    font-family: variables.$font-secondary;
    text-align: center;

    >.course {
        max-width: 400px;
        flex: 1 1 300px;

        transition: all 0.3s ease;
        background-color: variables.$project-color;
        border: 1px solid variables.$tech-color-hover;
        border-radius: 0.25rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

        padding: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        h3 {
            flex: 1 1 100%;
            font-family: variables.$font-primary;
            text-align: center;
        }

        figure {
            @include variables.flex-column;
            gap: 0.7rem;
            width: 100%;

            >iframe {
                width: 100%;
                min-height: 225px;
                border-radius: 0.25rem;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
                background: variables.$tech-color;
            }

            >figcaption {
                color: variables.$marker-color;
                text-align: center;

                a {
                    color: variables.$primary-color;
                    text-decoration: none;

                    &:hover {
                        color: variables.$hover-color;
                        text-decoration: underline;
                    }
                }
            }
        }

        &:hover {
            box-shadow: 0 4px 16px rgba(34, 58, 94, 0.13);
            border-color: variables.$primary-color;
            background-color: variables.$project-color-hover;
        }
    }

    @media (max-width: 700px) {
        article {
            padding: 1rem 0.5rem;
            max-width: 100%;
        }

        figure iframe {
            min-height: 180px;
        }
    }
}