@use 'variables';

.experience {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    align-items: baseline;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 0;
    font-family: variables.$font-secondary;

    >h2 {
        grid-column: 1 / -1;
    }

    >.experience-group {
        max-width: 600px;
        width: 100%;
        @include variables.flex-column;
        gap: 1rem;

        >header {
            flex: 1 1 100%;
        }

        >.experience-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-left: 2px solid variables.$marker-color;
            padding-left: 16px;

            >.experience-list-item {
                position: relative;

                >article {
                    &::before {
                        content: '';
                        position: absolute;
                        border-radius: 50%;
                        left: -22px;
                        top: 9px;
                        width: 10px;
                        height: 10px;
                        background-color: variables.$marker-color;
                    }
                }
            }
        }
    }

    >.experience-group:first-of-type {
        justify-self: end;
    }

    @media (max-width: variables.$width-tablet) {
        grid-template-columns: 1fr;

        >.experience-group:first-of-type {
            justify-self: stretch;
        }
    }
}