@use 'variables';

.about {
    height: max(600px, 100vh);
    width: 100%;
    @include variables.flex-column;

    >#particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: max(600px, 100vh);
        z-index: -1;
        background-color: variables.$background-color;
    }

    >.about-image {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    >.about-name,
    >.about-description {
        font-family: variables.$font-secondary;
        text-align: center;
        color: variables.$white-text;
        line-height: 1.5;
    }

    >.about-name {
        font-size: 1.8rem;
    }

    >.about-description {
        font-size: 1.2rem;
    }

    @media (max-width: variables.$width-desktop) {
        >.about-image {
            width: 18rem;
            height: 18rem;
        }

        >.about-name,
        >.about-description {
            max-width: 80%;
        }
    }

    @media (max-width: variables.$width-tablet) {
        >.about-image {
            width: 16rem;
            height: 16rem;
        }
    }

    @media (max-width: variables.$width-mobile) {
        >.about-image {
            width: 14rem;
            height: 14rem;
        }
    }
}