@use 'variables';
@use 'mixins';

.navbar {
    min-height: 7vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: variables.$navbar-bg;
    color: variables.$navbar-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: variables.$font-primary;

    .navbar-brand {
        a {
            text-decoration: none;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0;
            color: variables.$navbar-highlight;
            font-family: variables.$font-secondary;
        }
    }

    .navbar-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: relative;
        right: 1rem;

        .hamburger-icon {

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: variables.$navbar-text;
                transition: all 0.3s ease;
            }

            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }
        }
    }

    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 1rem;

            a {
                text-decoration: none;
                color: variables.$navbar-text;
                font-size: 1rem;
                transition: color 0.3s;

                &:hover {
                    color: variables.$navbar-hover;
                }
            }
        }
    }
}

@media (max-width: variables.$width-tablet) {
    .navbar {
        .navbar-links {
            display: none;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: variables.$navbar-bg;
            padding: 1rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .navbar-links.active {
            display: flex;
        }

        .navbar-toggle {
            display: flex;
        }

        .navbar-brand h1 {
            font-size: 1.2rem;
        }
    }
}
