@use 'variables';

.skills {
    @include variables.flex-column;
    flex-wrap: wrap;
    gap: 2rem;

    .skills-groups {
        max-width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;

        #skills1,
        #skills2,
        #skills3 {
            flex: 1 1 500px;
        }
    }

    .skills-group {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .skills-subtitle {
            font-family: variables.$font-secondary;
            font-size: 1rem;
            color: variables.$black-text;
        }
    }

    .skills-list {
        justify-content: center;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .skills-list-item {
            @include variables.flex-center;

            a {
                width: 7rem;
                height: 7rem;
                background-color: variables.$tech-color;
                padding: 5px 10px;
                border-radius: 5px;
                transition: all 0.3s ease;
                @include variables.flex-column;
                text-decoration: none;
                color: variables.$black-text;
                font-family: variables.$font-secondary;
                gap: 1rem;
                font-size: 1rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                &:hover {
                    background-color: variables.$tech-color-hover;
                }
            }
        }
    }
}