@use 'variables';

.skills {
    @include variables.flex-column;
    flex-wrap: wrap;
    gap: 2rem;

    .skills-groups {
        max-width: 1300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;

        #skills1,
        #skills2,
        #skills3 {
            flex: 1 1 500px;
        }
    }

    .skills-group {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .skills-subtitle {
            font-family: variables.$font-secondary;
            font-size: 1rem;
            color: variables.$black-text;
        }
    }

    .skills-list {
        justify-content: center;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .skills-list-item {
            @include variables.flex-center;

            a {
                width: 7rem;
                height: 7rem;
                background-color: variables.$tech-color;
                padding: 5px 10px;
                border-radius: 5px;
                transition: all 0.3s ease;
                @include variables.flex-column;
                text-decoration: none;
                color: variables.$black-text;
                font-family: variables.$font-secondary;
                gap: 1rem;
                font-size: 1rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                &:hover {
                    background-color: variables.$tech-color-hover;
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 25px;
        left: calc(10.2vw);
        width: 200px;
        height: 30px;
        background: variables.$section-bg-odd;
        clip-path: path('M 100 0 L 160 0 C 180 2.5 175 21 200 25 L 0 25 C 25 21 20 2.5 40 0 z');
    }

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 5px;
        background: variables.$primary-color;
        border-radius: 0 0 5px 5px;
        top: 25px;
        left: calc(10.2vw + 50px);
    }

    &:hover::after {
        background: variables.$tech-color-hover;
    }
}