@use 'variables';
@use 'mixins';

.social-links {
    display: flex;
    width: 180px;
    justify-content: space-around;

    .social-icon {
        @include mixins.flex-center;
        background-color: black;
        border: 1px solid white;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        a {
            @include mixins.flex-center;

            img {
                height: 50%;
                width: 50%;
                object-fit: contain;
            }
        }

        &:hover {
            background-color: variables.$hover-color;
        }
    }
}

@media (max-width: variables.$width-desktop) {
    .social-links {
        width: 175px;

        .social-icon {
            width: 2.8rem;
            height: 2.8rem;
        }
    }
}

@media (max-width: variables.$width-tablet) {
    .social-links {
        width: 150px;

        .social-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

@media (max-width: variables.$width-mobile) {
    .social-links {
        width: 140px;

        .social-icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }
}
