$hover-color: #2a3950;
$navbar-text: #ffffff;
$navbar-bg: #23272f93;
$navbar-bg-scrolled: #181b20;

$white-text: #ffffff;
$black-text: #181b20;
$background-color: #070707;

$tech-color: #e5e7eb;
$tech-color-hover: #cbd5e1;

$marker-color: #223a5e;

$primary-color: #223a5e;

$button-color: #223a5e;
$button-color-hover: #1a2c47;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$width-mobile: 480px;
$width-tablet: 769px;
$width-desktop: 1440px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    @include flex-center;
    flex-direction: column;
}