@use 'navbar';
@use 'about';
@use 'skills';
@use 'projects';
@use 'experience';
@use 'contact';
@use 'footer';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main > section {
    border-top: 1px solid black;
    padding: 2rem 0;
}


html {
    scroll-padding-top: 150px;
}