@use 'navbar';
@use 'about';
@use 'skills';
@use 'projects';
@use 'references';
@use 'experience';
@use 'certifications';
@use 'contact';
@use 'footer';
@use 'variables';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    @include variables.flex-column;

    >section {
        border-top: 1px solid black;
        padding: 2rem 0;
        width: 80%;
    }
}


html {
    scroll-padding-top: 150px;
}

.title {
    font-family: variables.$font-primary;
    color: variables.$black-text;
    text-align: center;
}